{% load static %}

<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sea FoodISH - Baliq Mahsulotlari</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <!-- Navbar -->
<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <i class="fas fa-fish"></i>{% if site_settings and site_settings.title %} {{site_settings.title}} {% else %} BaliqOvqatiUz {% endif %}
        </a>
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="{% url 'home' %}">Asosiy</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}#services">Xizmatlar</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'shop' %}">Do'kon</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">Biz Haqimizda</a></li>
                <li class="nav-item"><a class="nav-link" href="{% if site_settings and site_settings.telegram_url %} {{site_settings.telegram_url}} {% else %} # {% endif %}">Aloqa</a></li>
            </ul>
        </div>
    </div>
</nav>
